.top-header {
    display: grid;
}
  
.top-title {
    grid-column: 1 / span 2;
}

.menu-items {
    grid-column: 3 / span 8;
    display: flex-row;
    justify-content: center;
}

.top-menu-button {
    grid-column: 11 / span 2;
}